{
	acme_ca https://acme.zerossl.com/v2/DV90
}

takt24.ru {
	reverse_proxy app:3010

	encode gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
	}
}
